@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
:root {
    --main-yellow-colour: #f5ab0a;
}

body {
    background: black;
    color: white;
    margin: 0px;
}

a {
    color: var(--main-yellow-colour);
    text-decoration: none;
}

/* Events */
.eventIconContainer {
    float: left;
    padding: 10px 30px;
}

.eventIcon {
    max-height: 150px;
    max-width: 150px;
    height: auto;
    width: auto;
}

/* Fonts */
h1, h2, h3, p {
    font-family: Lato; 
    margin: 10px;
    color: white;
}

h1 {
    font-size: 34px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 36px;
} 

h2 {
    font-size: 29px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 30px;
} 

h3 {
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 25px;
} 

p {
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px;
}